name: CI

on:
  pull_request:

permissions:
  contents: read
  packages: write

jobs:
  docker-build-push:
    runs-on: ubuntu-latest
    steps:
      - name: 'Pull Code'
        uses: actions/checkout@main
      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{github.token}}
      - name: 'Build and Push Image'
        run: |
          IMAGE_NAMESPACE=$(echo "$GITHUB_ACTOR" | tr '[:upper:]' '[:lower:]')
          docker build . --tag ghcr.io/${IMAGE_NAMESPACE}/downdetector-exporter:latest
          docker push ghcr.io/${IMAGE_NAMESPACE}/downdetector-exporter:latest
