name: Release

on:
  push:
    tags:
      - '*'

permissions:
  contents: write
  packages: write

jobs:
  docker-build-push:
    runs-on: ubuntu-latest
    steps:
      - name: 'Pull Code'
        uses: actions/checkout@main

      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: 'Build and Push Image'
        run: |
          IMAGE_NAMESPACE=$(echo "$GITHUB_REPOSITORY_OWNER" | tr '[:upper:]' '[:lower:]')
          docker build \
            --build-arg VERSION=${{ github.ref_name }} \
            --tag ghcr.io/${IMAGE_NAMESPACE}/downdetector-exporter:${{ github.ref_name }} \
            --tag ghcr.io/${IMAGE_NAMESPACE}/downdetector-exporter:latest \
            .
          docker push ghcr.io/${IMAGE_NAMESPACE}/downdetector-exporter:${{ github.ref_name }}
          docker push ghcr.io/${IMAGE_NAMESPACE}/downdetector-exporter:latest
  release:
    runs-on: ubuntu-latest
    needs: docker-build-push
    steps:
      - name: Checkout repository
        uses: actions/checkout@main
        with:
          fetch-depth: 0
      - name: Create Release Page
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh release create ${{ github.ref_name }} --generate-notes
